<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="cross-validation" [class.cross-validation-error]="getControllError('email')">
    <label>Email address</label>
    <input type="email"
           class="form-control"
           placeholder="Enter email"
           formControlName="email"
           required>
      <div *ngIf=" getControllError('email')" class="alert alert-danger">
        Please enter Email
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="cross-validation" [class.cross-validation-error]="getControllError('email')">
    <label>Password</label>
    <input type="password"
           class="form-control"
           placeholder="Password"
           formControlName="password"
           required>
    <div *ngIf="getControllError('password')" class="alert alert-danger">
      Please enter password
    </div>
    </div>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
    <div class="form-controls">
      <button type="submit" class="btn btn-primary">LogIn</button>
      <button type="button" class="btn btn-primary">Google Login</button>
    </div>
</form>


