<form [formGroup]="singInForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="cross-validation" [class.cross-validation-error]="getControllError('email')">
    <label>Email</label>
    <input type="Email"
           class="form-control"
           placeholder="Enter email"
           formControlName="email"
           required>
      <div *ngIf=" getControllError('email')" class="alert alert-danger">
        Please enter Email
      </div>
  </div>
  </div>

  <div class="form-group">
    <div class="cross-validation" [class.cross-validation-error]="getControllError('login')">
      <label>Login</label>
      <input type="text"
             class="form-control"
             placeholder="Enter login"
             formControlName="login"
             required>
      <div *ngIf=" getControllError('login')" class="alert alert-danger">
        Please enter login
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="cross-validation" [class.cross-validation-error]="getControllError('password')">
      <label>Password</label>
      <input type="password"
             class="form-control"
             placeholder="Password"
             formControlName="password"
             required>
      <div *ngIf="getControllError('password')" class="alert alert-danger">
        Please enter password
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="cross-validation" [class.cross-validation-error]="getControllError('checkPassword')">
      <label>Repeat Password</label>
      <input type="password"
             class="form-control"
             placeholder="Repeat Password"
             formControlName="checkPassword">
      <div *ngIf="getControllError('checkPassword')" class="alert alert-danger">
        Password must match
      </div>
    </div>
  </div>
  <div class="form-controls">
    <button type="submit" class="btn btn-primary" [disabled]="!singInForm.valid">Create</button>
<!--    <button type="submit" class="btn btn-primary" >Create</button>-->
    <button type="button" class="btn btn-primary">Google Login</button>
  </div>
</form>


