<nav>

  <ul class="nav nav-pills">

    <li class="nav-item">
      <a class="nav-link"
         routerLink="stats"
         routerLinkActive="active"
      >Stast</a></li>

    <li class="nav-item">
      <a class="nav-link"
         routerLink="orders"
         routerLinkActive="active"
      >Orders</a></li>

    <li class="nav-item">
      <a class="nav-link"
         routerLink="stock"
         routerLinkActive="active"
      >Stock</a></li>

    <li class="nav-item">
      <a class="nav-link"
         routerLink="/login"
         routerLinkActive="active"
      >LogOut</a></li>

  </ul>

</nav>
